<article class="home">
  <div class="container-home">
    <div class="content-home">
      <div class="content-container-home">
        <h1>{{profile.name}}</h1>
        <p style="text-align: justify;">
          {{profile.description}}
        </p>
        <figure>
          <img src="assets/location.png" alt="" />
          <p style="margin-left: 2%">{{profile.location}}</p>
        </figure>
        <div>
          <span class="active-status"></span>
          <p style="margin-left: 2%">Available for new projects</p>
        </div>
        <a href="#about" class="button-start active-button">Let's get started</a>
      </div>
    </div>
    <figure class="fig-image">
      <img src="assets/{{profile.picture}}" alt="" />
    </figure>
  </div>
</article>