<div class="projects-list">
  <h1>{{this.category}}</h1>
  {{#each this.list}}
    <div
      class="active-button card"
      onclick="showPopup('Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium magni, fuga fugit repellat sed, dolor qui fugiat quas nisi explicabo quisquam excepturi officiis aspernatur nostrum adipisci nesciunt perferendis laboriosam vero.')"
    >
      <figure>
        <img src="assets/CBIR.png" alt="" />
        <a href="https://github.com/rifchzschki/Algeo02-22037">Check this!</a>
      </figure>
    </div>
  {{/each}}
  <div class="active-button card" onclick="showPopup('MoliNana')">
    <figure>
      <img src="assets/molinana.png" alt="" />
      <a href="https://github.com/rifchzschki/Game-MoliNana">Check this!</a>
    </figure>
  </div>
  <div class="active-button card" onclick="showPopup('Sidik Jari')">
    <figure>
      <img src="assets/sidik-jari.png" alt="" />
      <a href="https://github.com/rifchzschki/Tubes3_KacaprukReborn">Check this!</a>
    </figure>
  </div>
  <div class="active-button card" onclick="showPopup('Nelfix')">
    <figure>
      <img src="assets/nelfix.png" alt="" />
      <a href="https://github.com/rifchzschki/Nelfix">Check this!</a>
    </figure>
  </div>
  <div
    class="active-button card"
    onclick="showPopup('Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium magni, fuga fugit repellat sed, dolor qui fugiat quas nisi explicabo quisquam excepturi officiis aspernatur nostrum adipisci nesciunt perferendis laboriosam vero.')"
  >+
    <figure>
      <img src="assets/CBIR.png" alt="" />
      <a href="https://github.com/rifchzschki/Algeo02-22037">Check this!</a>
    </figure>
  </div>
  <div class="active-button card" onclick="showPopup('MoliNana')">
    <figure>
      <img src="assets/molinana.png" alt="" />
      <a href="https://github.com/rifchzschki/Game-MoliNana">Check this!</a>
    </figure>
  </div>
  <div class="active-button card" onclick="showPopup('Sidik Jari')">
    <figure>
      <img src="assets/sidik-jari.png" alt="" />
      <a href="https://github.com/rifchzschki/Tubes3_KacaprukReborn">Check this!</a>
    </figure>
  </div>
  <div class="active-button card" onclick="showPopup('Nelfix')">
    <figure>
      <img src="assets/nelfix.png" alt="" />
      <a href="https://github.com/rifchzschki/Nelfix">Check this!</a>
    </figure>
  </div>
</div>