<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/stylel.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About me</a></li>
          <li><a href="">Resume</a></li>
          <li><a href="">Projects</a></li>
        </ul>
      </nav>
    </header>
    <article class="home">
      <div class="container-home">
        <div class="content-home">
            <div class="content-container-home">
                <h1>Rifki Virzya</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est facilis error ut itaque fugit facere debitis aspernatur placeat, illo minus, corporis temporibus dolores quidem repudiandae, nobis illum accusamus rem pariatur.</p>
                <a href="" class="button-start">Let's get started</a>
            </div>
        </div>
        <figure class="fig-image">
          <img src="../assets/foto3.jpg" alt="" />
        </figure>
      </div>
    </article>
    <article class="about"></article>
    <article class="resume"></article>
    <article class="projects"></article>
  </body>
</html>
