* {
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Untuk Firefox */
  -ms-overflow-style: none; /* Untuk Internet Explorer & Edge */
  color: white;
}

*::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}

:root {
  background: rgb(57, 65, 55);
  background: -moz-linear-gradient(
    45deg,
    rgba(57, 65, 55, 1) 19%,
    rgba(127, 127, 127, 1) 50%,
    rgba(57, 65, 55, 1) 74%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(57, 65, 55, 1) 19%,
    rgba(127, 127, 127, 1) 50%,
    rgba(57, 65, 55, 1) 74%
  );
  background: linear-gradient(
    45deg,
    rgba(57, 65, 55, 1) 19%,
    rgba(127, 127, 127, 1) 50%,
    rgba(57, 65, 55, 1) 74%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#394137",endColorstr="#394137",GradientType=1);
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.active-button {
  transition: all 0.3s;
  cursor: pointer;
}

.active-button:hover {
  transform: scale(1.05);
}

p,span {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: justify;
}

a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}

ul,
ol {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  text-align: justify;
  font-style: normal;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 90%;
  padding: 1% 0;
  background-color: #272e25;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

article {
  width: 100vw;
  margin: 0;
}

.year{
  margin: 5px 0px;
  text-align: right;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home {
  width: 80%;
  height: 100vh;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-home {
  width: 60%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content-container-home {
  width: 90%;
  height: auto;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 800;
  font-style: normal;
  color: white;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 800;
  font-style: normal;
  color: white;
  text-align: center;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 800;
  font-style: normal;
  color: white;
}
h4 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  color: white;
  margin: 5px 0px;
}

.active-status {
  height: 1.5ch;
  width: 1.5ch;
  background-color: #62d901;
  border-radius: 50%;
  display: inline-block;
}
.content-container-home div {
  display: flex;
  align-items: center;
}
.content-container-home figure img {
  width: 2ch;
  height: 2ch;
}

.content-container-home figure {
  display: flex;
  align-items: center;
}

.button-start {
  background-color: #3f8e00;
  color: white;
  padding: 1% 5%;
  border-radius: 3px;
  margin: 0 !important;
  width: 30%;
  text-align: center;
}

.fig-image {
  width: 40%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fig-image img {
  height: 400px;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
}

.about {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: auto;
}

.container-about {
  width: 80%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2% 0%;
  align-items: center;
  gap: 30px;
}
.container-about section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  gap: 30px;
}

.card {
  width: 80%;
  background-color: transparent;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.card figure {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
.card img {
  width: auto;
  max-height: 150px;
  border-radius: 50%;
  border: 1px;
  border-color: black;
}

.content-card-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  /* background-color: gray; */
  width: 60%;
  height: 50%;
}

.content-card-about div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.content-card-about div {
  color: #4b5563;
}

.content-card-about .read-more{
  display: none;
}

.projects {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: auto;
}

.container-projects {
  width: 80%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2% 0%;
  align-items: center;
  gap: 30px;
}
.container-projects section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  gap: 30px;
  box-sizing: border-box;
}

.container-projects .card {
  flex-direction: column;
  background-color: transparent;
}
.container-projects .card div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.container-projects .card div figure {
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

.container-projects .still-learn .card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  height: auto;
  padding: 10px;
}

.container-projects .card .skill-card {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgba(99, 99, 99, 0.2);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box;
  height:100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-contact {
  width: 80%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  
}

.container-contact .card {
  background-color: white;
  flex-direction: column;
  height: auto;
  padding: 100px 0px;
  margin: 10px 0px;
  box-sizing: border-box;
}
.container-contact .card .contact-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-contact .card .contact-button, .container-contact .card .contact-button a{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #1b1b1b;
  font-size: 14px;
  text-decoration: none;
  /* background: red; */
}

.container-contact .card .contact-button .other-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-contact .card .contact-button img {
  width: 20px;
  height: auto;
  border-radius: 0px;
}


.container-contact .card .contact-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  width: 50%;
  height: 100%;
  /* background: red; */
}
.container-contact label {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #1b1b1b;
  font-size: 14px;
  text-decoration: none;
  margin-left: 1%;
}

.submit-contact{
  width: 100%;
  height: 100%;
  margin: 10px 10px;
}
.input-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: gray; */
}

.container-contact input {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #1b1b1b;
  text-decoration: none;
  background-color: white;
  width: 100%;
  border: 0px;
  height: 4ch;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.container-contact input[type="submit"] {
  background: #3f8e00;
  border-radius: 5px
  margin: 10px 0px;
}

.container-contact textarea {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #1b1b1b;
  text-decoration: none;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  border: 0px;
  width: 100%;
  height: 8ch;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


/* pop up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  overflow: hidden;
}

.hidden {
  display: none;
}

.popup-content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  background: white;
  max-height: calc(100vh - 20%);
  max-width: calc(100vw - 20%);
  border-radius: 12px;
  text-align: left;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease-in-out;
  overflow: hidden;
}

.popup-content .content {
  flex-grow: 1;
  display: flex;
  overflow: auto;
  align-items: space-around;
  gap: 20px;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  white-space: normal;
  /* background: gray; */
}

@keyframes fadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-button {
  position: absolute;
  color: black;
  top: 0px;
  right: 10px;
  display: block;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.popup-fig {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.popup-info {
  /* background: blue; */
  width: 75%;
}

.popup-fig img {
  max-width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-bottom: 15px;
}
.popup-fig a {
  width: 100%;
  padding: 5px 0px;
  border-radius: 5px;
  background-color: #3f8e00;
  color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.popup-fig .contributor-list{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-content h1 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.popup-content h4 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.popup-content ul {
  list-style-type: none;
  padding-left: 0;
}

.popup-content ul li {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}

.popup-content p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

.popup-content .tech-feat {
  display: flex;
}
.popup-content .tech-feat div {
  flex-direction: column;
  width: 50%;
  word-wrap: break-word;
  white-space: normal;
}
/* pop up */


.wrapper {
  width: 100%;
  display: flex; 
  flex-direction: column;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  /* border: 1px solid black; */
  height: 210px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 95%
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: auto;
  background-color: rgb(57, 65, 55);
  border-radius: 6px;
  position: absolute;
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.item img{
  max-width: 300px;
  height: 200px;
  object-fit: contain;
}

.item1 {
  animation-delay: calc(30s / 4 * (4 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 4 * (4 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 4 * (4 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 4 * (4 - 4) * -1);
}


/* Responsive */


@media (max-width: 1536px) {
  /* Gaya untuk layar besar seperti TV atau monitor 4K */
}
@media (max-width: 1200px) {
  .content-home{
    width: 50%;
  }
  .button-start {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

  }
  .content-card-about div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  /* Gaya untuk PC */
}
@media (max-width: 768px) {
  /* Gaya untuk tablet */
  p,span {
    font-size: 11px;
    text-align: justify;
    margin: 5px 0px;
  }
  h1 {
    font-size: 36px;
    text-align: center;
  }
  h2 {
    font-size: 31px;
  }
  h3 {
    font-size: 26px;
    text-align: center;
  }
  h4 {
    text-align: center;
    font-size: 21px;
  }
  h5 {
    font-size: 16px;
  }
  ul,ol {
    font-size: 11px;
    margin: 5px 0px;
  }
  a {
    font-size: 11px;
  }
  .fig-image img {
    height: 300px;
  }
  .popup-content .content {
    flex-direction: column;
    width: 90%;
  }
  .popup-fig {
    width: 100%;
  }
  .popup-info {
    width: 100%;
  }
  .popup-content {
    align-items: center;
  }

  .popup-content h1 {
    font-size: 20px;
  }

  .popup-content h4 {
    font-size: 16px;
  }

  .popup-content ul li {
    font-size: 14px;
  }
  .content-card-about .read-more{
    display: flex;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
  }
  .content-card-about .read-more img{
    width: 16px;
    height: auto;
  }

  .content-card-about .desc-card{
    display: none;
  }
  .container-projects .card .skill-card {
    justify-content: center;
    align-items: center;
  }
  .container-projects .card .skill-card ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .close-button {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  /* Gaya untuk layar kecil (smartphone) */
  p,span {
    font-size: 12px;
    text-align: justify;
    margin: 5px 0px;
  }
  h1 {
    font-size: 36px;
    text-align: center;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 21px;
    text-align: center;
  }
  h4 {
    text-align: center;
    font-size: 15px;
  }
  h5 {
    font-size: 12px;
  }
  ul,ol {
    font-size: 12px;
    margin: 5px 0px;
  }
  a {
    font-size: 12px;
  }
  .container-home {
    /* background-color: white; */
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0px;
    box-sizing: border-box;
  }
  .content-home {
    width: 90%;
  }
  .content-container-home {
    justify-content: center;
  }
  .fig-image img {
    height: 200px;
  }
  .card img{
    height: 50px
  }
  .button-start {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .container-about a {
    width: 40%;
  }
  .card {
    flex-direction: column;
    width: 100%;
  }
  .card figure {
    height: 30%;
  }
  .content-card-about {
    width: 80%;
    justify-content: space-between;
  }
  .wrapper{
    height: 150px;
  }
  .item img{
    max-width: 250px;
    height: 150px;
  }
  .container-contact .card .contact-form {
   width: 80%; 
  }
  .container-contact .card .contact-button {
    font-size: 12px; 
    width: 100%;
  }
  .container-contact .card .contact-button .other-contact{
    /* background: blue; */
    width:40%;
  }
  .container-contact .card .contact-button a{
    font-size: 8px;
    width:100%;
   /* background: red; */
   display: flex;
   align-items: center; 
   justify-content: space-between; 
  }
  .container-contact .card {
    padding: 20px 0px;
  }
  .container-contact label {
    font-size: 12px;
  }
  .container-contact input {
    font-size: 8px;
    margin: 2px 0px;
  }
  .container-contact textarea {
    font-size: 8px;
  }
}
/* Responsive */