* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: #080808;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #9c9c9c;
}

a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #9c9c9c;
  font-size: 14px;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 90%;
  padding: 1% 0;
  background-color: #1b1b1b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

article {
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* background-color: red; */
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home {
  width: 80%;
  height: 60vh;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-home {
  width: 60%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content-container-home {
  width: 90%;
  height: auto;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 800;
  font-style: normal;
  color: white;
}

.active-status {
  height: 1.5ch;
  width: 1.5ch;
  background-color: #62d901;
  border-radius: 50%;
  display: inline-block;
}
.content-container-home div {
  display: flex;
  align-items: center;
}
.content-container-home figure img {
  width: 2ch;
  height: 2ch;
}

.content-container-home figure {
  display: flex;
  align-items: center;
}

.button-start {
  background-color: #3f8e00;
  color: white;
  padding: 1% 5%;
  border-radius: 3px;
  margin: 0 !important;
  width: 30%;
  text-align: center;
}

.fig-image {
  width: 40%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fig-image img {
  height: 400px;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .fig-image img {
    height: 300px;
  }
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 40px;
  }
  h5 {
    font-size: 14px;
  }
  a {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  p {
    font-size: 11px;
    text-align: center;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }
  h5 {
    font-size: 14px;
  }
  a {
    font-size: 11px;
  }
  .container-home {
    /* background-color: white; */
    display: flex;
    flex-direction: column-reverse;
    height: 90%;
  }
  .content-home {
    width: 90%;
  }
  .content-container-home {
    justify-content: center;
  }
  .fig-image img {
    height: 200px;
  }
  .button-start {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: auto;
}

.container-about {
  width: 80%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2% 0%;
  align-items: center;
  gap: 30px;
}
.container-about section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  gap: 30px;
}

.container-about a {
  background-color: #1b1b1b;
  border-radius: 3px;
  width: 20%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
  width: 80%;
  background-color: white;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.card figure {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
.card img {
  width: auto;
  height: 100%;
  border-radius: 50%;
  border: 1px;
  border-color: black;
}

.content-card-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  /* background-color: gray; */
  width: 60%;
  height: 50%;
}

.content-card-about div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.content-card-about div {
  color: #4b5563;
}

@media (max-width: 600px) {
  h2 {
    font-size: 14px;
    text-align: center;
  }
  .container-about a {
    width: 40%;
  }
  .card {
    flex-direction: column;
    width: 100%;
  }
  .card figure {
    height: 30%;
  }
  .content-card-about {
    width: 80%;
    justify-content: space-between;
  }
  .content-card-about div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: auto;
}

.container-projects {
  width: 80%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2% 0%;
  align-items: center;
  gap: 30px;
}
.container-projects section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  gap: 30px;
  box-sizing: border-box;
}

.container-projects a {
  background-color: white;
  border-radius: 3px;
  width: 20%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b1b1b;
}

.container-projects .card {
  flex-direction: column;
  background-color: transparent;
}
.container-projects .card div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.container-projects .card div figure {
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

.still-learn img {
  width: 100px;
  height: 100px;
  border-radius: 0%;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 30px;
}
.projects-list .card {
  background-color: white;
  margin: auto;
}

.projects-list figure {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}
.projects-list img {
  border-radius: 0;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.projects-list a {
  width: 100%;
  background-color: #3f8e00;
  color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.research-list {
  display: flex;
  width: 100%;
  gap: 30px;
}

.research-list .card {
  background-color: white;
  margin: auto;
  /* box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); */
  border: 1px;
  border-color: white;
}

.research-list figure {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}
.research-list img {
  border-radius: 0;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.research-list a {
  width: 100%;
  background-color: #3f8e00;
  color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

@media (max-width: 600px) {
  figcaption {
    font-size: 12px;
  }
  .projects-list {
    display: flex;
    flex-direction: column;
  }
  .research-list {
    flex-direction: column;
  }
  .still-learn img {
    width: 50px;
    height: 50px;
  }
  .container-projects a {
    width: 40%;
  }
  .research-list a {
    width: 100%;
    text-align: center;
  }
  .projects-list a {
    text-align: center;
    width: 100%;
  }
}

.contact {
  background-color: white;
  height: auto;
}

.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* background-color: red; */
}
.container-contact a {
  color: white;
  border-radius: 3px;
  width: 20%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
}

.container-contact section {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  gap: 10%;
  align-items: center;
}

.container-contact .card {
  height: 100%;
}
.container-contact form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 50%;
  height: 80%;
}
.container-contact label {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #1b1b1b;
  font-size: 14px;
  text-decoration: none;
  margin-left: 1%;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* align-items: center; */
  /* background-color: red; */
}

.container-contact input {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #1b1b1b;
  text-decoration: none;
  background-color: white;
  width: 100%;
  border: 0px;
  height: 4ch;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.container-contact textarea {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #1b1b1b;
  text-decoration: none;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  border: 0px;
  width: 100%;
  height: 8ch;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .container-contact a {
    width: 40%;
  }
  .container-contact form {
    width: 80%;
  }
  .container-contact label {
    font-size: 12px;
  }
  .container-contact input {
    font-size: 12px;
  }
  .container-contact textarea {
    font-size: 12px;
  }
}
